server:
  port: 8080

spring:
  datasource:
    Driver: org.h2.Driver
    url: jdbc:h2:mem:sistema-documentacao-dev
    username: sa
    password: 
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    generate-ddl: true
    show_sql: true
    properties:
      hibernate.format_sql: true
    hibernate:
      ddl-auto: update
  application:
    name: 'sistema-documentacao'

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka