spring:
  profiles:
    active: dev
  datasource:
    Driver: com.mysql.jdbc.Driver
    url: jdbc:mysql://localhost:3306/teste
    username: root
    password: 1234
  jpa:
    database-platform: org.hibernate.dialect.MySQL8Dialect
    generate-ddl: true
    show_sql: true
    properties:
      hibernate.format_sql: true
    hibernate:
      ddl-auto: update



